<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
	   					   ">
    <context:annotation-config/>
    <context:component-scan base-package="org.concurrency.locks"/>
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:default-servlet-handler/>
    <tx:annotation-driven transaction-manager="txManager"/>

    <!--数据库访问的相关配置-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/db_conc_lock"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <!--创建一个sql会话工厂bean，指定数据源-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/><!-- 指定数据源 -->
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--<bean id="demoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--&lt;!&ndash;指定映射文件 &ndash;&gt;-->
        <!--<property name="mapperInterface" value="org.concurrency.locks.dao.DemoDao"/>-->
        <!--&lt;!&ndash; 指定sql会话工厂&ndash;&gt;-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
    <!--</bean>-->

    <!--<bean id="productDao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--&lt;!&ndash;指定映射文件 &ndash;&gt;-->
        <!--<property name="mapperInterface" value="org.concurrency.locks.dao.ProductDao"/>-->
        <!--&lt;!&ndash; 指定sql会话工厂&ndash;&gt;-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
    <!--</bean>-->

    <!--<bean id="orderItemDao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--&lt;!&ndash;指定映射文件 &ndash;&gt;-->
        <!--<property name="mapperInterface" value="org.concurrency.locks.dao.OrderItemDao"/>-->
        <!--&lt;!&ndash; 指定sql会话工厂&ndash;&gt;-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
    <!--</bean>-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.concurrency.locks.dao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

</beans>